{% extends "base.html" %}

{% block css %}
<!-- Chart CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Epidemic Calculator</h1>

            <h2 class="py-3">SIR-D</h2>
            <canvas id="chart-sird" width="400" height="150"></canvas>

            <h2 class="py-3">SEIR-D</h2>
            <canvas id="chart-seird" width="400" height="150"></canvas>

            <h2 class="py-3">SEAICHUR-D <small class="text-muted">(en proceso)</small></h2>
            <canvas id="chart-seaichurd" width="400" height="150"></canvas>

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<!-- Chart JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock js %}