{% extends "base.html" %}

{% block css %}
<!-- Chart CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
{% endblock %}

{% block content %}
<header>
    <div class="navbar navbar-secondary bg-secondary box-shadow">
      <div class="container d-flex justify-content-between">
            <div class="text-white">
                <strong>Data Science Banner</strong>
            </div>
      </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="mt-3">
                <h4 class="text-secondary">About</h4>
                <p class="text-muted">
                    Et reprehenderit ea aut architecto. Vero corrupti reprehenderit quia rerum. Molestiae quia voluptas dolores voluptatibus fugit et consequatur.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <h5>Parámetros: Contagio</h5>
                    <p>
                        Et reprehenderit ea aut architecto. Vero corrupti reprehenderit quia rerum. Molestiae quia voluptas dolores voluptatibus fugit et consequatur.
                    </p>
                </div>
                <div class="col-md">
                    <div class="row">
                        <h5>Parámetros: Cuarentena</h5>
                        <p>
                            Et reprehenderit ea aut architecto. Vero corrupti reprehenderit quia rerum. Molestiae quia voluptas dolores voluptatibus fugit et consequatur.
                        </p>
                        
                    </div>
                    <div class="row">
                        <h5>Parámetros: Periodo Latente</h5>
                        <p>
                            Et reprehenderit ea aut architecto. Vero corrupti reprehenderit quia rerum. Molestiae quia voluptas dolores voluptatibus fugit et consequatur.
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                   <h5>Parámetros: Hospitalizacion</h5>
                   <p>
                        Et reprehenderit ea aut architecto. Vero corrupti reprehenderit quia rerum. Molestiae quia voluptas dolores voluptatibus fugit et consequatur.
                   </p>
                   
                </div>
                <div class="col-md">
                    <h5>Parámetros: Recuperacion</h5>
                    <p>
                        Et reprehenderit ea aut architecto. Vero corrupti reprehenderit quia rerum. Molestiae quia voluptas dolores voluptatibus fugit et consequatur.
                    </p>
                    
                </div>
            </div>
            <div class="row fluid">
                <div class="col-md-9">
                    <div class="alert alert-warning">
                        Alerta/Texto
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-outline-secondary">Suma</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="mt-3">
                <canvas id="chart-sird" width="400" height="150"></canvas>
                <canvas id="chart-seird" width="400" height="150"></canvas>
                <canvas id="chart-seaichurd" width="400" height="150"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">E-mail</a></li>
              <li><a class="text-muted" href="#">Facebook</a></li>
              <li><a class="text-muted" href="#">Github</a></li>
              <li><a class="text-muted" href="#">Youtube</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          
        </div>
      </footer>
</div>


<div class="container">
    <div class="row">
        <div class="col-md">
        </div>
    </div>
</div>


<!-- <div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Epidemic Calculator</h1>
            
            <h2 class="py-3">SIR-D</h2>
            <canvas id="chart-sird" width="400" height="150"></canvas>

            <h2 class="py-3">SEIR-D</h2>
            <canvas id="chart-seird" width="400" height="150"></canvas>

            <h2 class="py-3">SEAICHUR-D <small class="text-muted">(en proceso)</small></h2>
            <canvas id="chart-seaichurd" width="400" height="150"></canvas>

        </div>
    </div>
</div> -->

{% endblock %}

{% block js %}
<!-- Chart JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock js %}